/* Modal */

.modal-content{ /*Entire Modal*/

}
.modal-lg{
	
}
.modal-header{
	font-family: Avenir !important;
	color: gray !important;
	text-align: center !important;
}
.modal-title{
	color: black !important;
}
.modal-body{
	height: 500px;
	
}
.modal-footer{
	text-align: right !important;
}

/*Card*/

.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35% !important;
    height: 80% !important;
    position: relative;
    text-align: center !important;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    padding-bottom: 15px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.8);
}
/* Add some padding inside the card container */
.card-text {
    padding-left: 2px;
    padding-top: 6px !important;
}

.artist-schedule{
	font-family: Avenir;
	color: gray;
}

.modal-artist-calendar {
	position: center;
}
.calendar-header{
	text-align: center !important;
	color: black;
}

.container{
	width: 50% !important;
	margin-left: 0 !important;
	margin-right: 5% !important;
	margin-top: 5% !important;
}

.artist-bio-header{
	color: black !important;
	font-family: Avenir; 
	font-size: 16px;
	text-align: center !important;
}
.artist-bio-content{
	font-size: 12px !important;
	color: gray !important;
	text-align: center;
}

.table{
	font-family: Avenir !important;
	}